---
import GitHub from "./icons/GithubIcon.astro";
import HTML from "./icons/HTMLIcon.astro";
import CSS from "./icons/CSSIcon.astro";
import Tailwind from "./icons/TailwindIcon.astro";
import SASS from "./icons/SASSIcon.astro";
import AstroIcon from "./icons/AstroIcon.astro";
import JavaScript from "./icons/JavaScriptIcon.astro";
import MySQL from "./icons/MySQLIcon.astro";
import Postman from "./icons/Postman.astro";
import PHP from "./icons/PHPIcon.astro";
import CodeIgniter from "./icons/CodeIgniter.astro";
import Laravel from "./icons/LaravelIcon.astro";
import React from "./icons/ReactJSIcon.astro";
import NodeJS from "./icons/NodeJSIcon.astro";
import VueJS from "./icons/VueJSIcon.astro";
import Angular from "./icons/AngularIcon.astro";
import Browser from "./icons/BrowserIcon.astro";
import DotnetIcon from "./icons/DotnetIcon.astro";
import SQLIcon from "./icons/SQLIcon.astro";
import BootstrapIcon from "./icons/BootstrapIcon.astro";

import LinkButton from "./LinkButton.astro";
import TrelloIcon from "./icons/TrelloIcon.astro";

import type { languageList } from '../i18n/ui';
import { useTranslations } from '../i18n/utils';

const currentLang = Astro.currentLocale || 'es';

const translateLabels = useTranslations (currentLang as keyof typeof languageList);


const TAGS = {

  HTML: {
    name: "HTML",
    class: "bg-gray-700 text-white",
    icon: HTML,
  },
  CSS: {
    name: "CSS",
    class: "bg-blue-400 text-black",
    icon: CSS,
  },
  AstroIcon:{
    name: "Astro",
    class: "bg-[#534deb] text-white",
    icon: AstroIcon
  },
  TAILWIND: {
    name: "Tailwind",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  SASS: {
    name: "SASS",
    class: "bg-pink-700 text-white",
    icon: SASS
  },
  JAVASCRIP: {
    name: "JavaScript",
    class: "bg-amber-500 text-black",
    icon: JavaScript
  },
  MYSQL: {
    name: "MySQL",
    class: "bg-white text-black border border-black",
    icon: MySQL
  },
  POSTMAN: {
    name: "Postman",
    class: "bg-orange-400 text-white",
    icon: Postman
  },
  PHP:{
    name: "PHP",
    class: "bg-indigo-950 text-white",
    icon: PHP
  },
  CODEIGNITER: {
    name: "CodeIgniter",
    class: "bg-rose-900 text-white",
    icon: CodeIgniter
  },
  LARAVEL: {
    name: "Laravel",
    class:  "bg-black text-white",
    icon: Laravel
  },
  NODEJS: {
    name: "NodeJS",
    class: "bg-white text-black border border-black",
    icon: NodeJS
  },
  REACTJS: {
    name: "ReactJS",
    class: "bg-[#16181d] text-white",
    icon: React
  },
  VUEJS: {
    name: "VueJS",
    class: "bg-[#abcebe] text-black",
    icon: VueJS
  },
  ANGULAR: {
    name: "Angular",
    class: "bg-[#e6d4f7] text-black",
    icon: Angular
  },
  DOTNET: {
    name: ".NET",
    class: "bg-[#B96EFF] tex-white",
    icon: DotnetIcon
  },
  SQLSERVER: {
    name: "MS SQL Server",
    class: "bg-[#909090] tex-white",
    icon: SQLIcon
  },
  BOOTSTRAP: {
    name: "Bootstrap",
    class:  "bg-white text-black border border-black",
    icon: BootstrapIcon
  }
}
const PROJECTS = [
  {
    title: "Calendar Of Events",
    description: translateLabels("projects.CalendarOfEvents"),
    githubBackend: "https://github.com/santvallejos/CalendarOfEvents-Backend/tree/develop",
    githubFrontend: "https://github.com/santvallejos/CalendarOfEvents-Frontend/tree/develop",
    video: '../projects/CalendarOfEvents.mp4',
    trello: "https://trello.com/b/CxGys3Ed/calendarofevents",
    tags: [TAGS.DOTNET, TAGS.ANGULAR, TAGS.SQLSERVER, TAGS.BOOTSTRAP, TAGS.CSS],
  },
  {
    title: "QuickMart",
    description: translateLabels("projects.QuickMart"),
    github: "https://github.com/santvallejos/SupermercadoLaravel",
    image: "../projects/QuickMart.jpg",
    tags: [TAGS.LARAVEL, TAGS.VUEJS, TAGS.CSS, TAGS.MYSQL],
  },
  {
    title: "VirtualTome",
    description: translateLabels("projects.VirtualTome"),
    githubBackend: "https://github.com/santvallejos/VirtualTome-Backend",
    githubFrontend: "https://github.com/santvallejos/VirtualTome-Frontend",
    video: '../projects/VirtualTome 1.0.mp4',
    tags: [TAGS.NODEJS, TAGS.REACTJS, TAGS.MYSQL, TAGS.POSTMAN],
  },
  {
    title: "To-Dolist",
    description: translateLabels("projects.To-Dolist"),
    github: "https://github.com/santvallejos/To-doList",
    image: "../projects/To-DolistShots.png",
    tags: [TAGS.ANGULAR],
  }
]
---

<section class="container mx-auto flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, video, title, description, tags, github, githubBackend, githubFrontend, trello}) => (
      <article class="max-w-screen-md mx-auto">
        <h3 class="text-2xl font-semibold mb-2 text-blue-500/100">
          {title}
        </h3>
        <p class="text-lg mb-4 text-pretty">{description}</p>
        <ul class="flex flex-wrap gap-x-2 flex-row mb-2">
          {tags.map((tag) => (
            <li class="pb-2">
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>
        {video && (
          <video controls loop src={video} class="rounded shadow-2xl shadow-white/10 w-full"/>
        )}
        {image &&(
          <img
          loading="lazy"
          class="rounded shadow-2xl shadow-white/10 w-full"
          src={image}
          alt={`Captura de pantalla del proyecto ${image}`}
        />
        )}
        <div class="flex gap-x-4 items-end justify-start mt-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              {translateLabels('projects.fountain')}
            </LinkButton>
          )}
          {githubBackend &&(
              <LinkButton href={githubBackend}>
              <GitHub class="size-6" />
              {translateLabels('projects.backend')}
            </LinkButton>
          )}
          {githubFrontend &&(
              <LinkButton href={githubFrontend}>
              <GitHub class="size-6" />
              {translateLabels('projects.frontend')}
            </LinkButton>
          )}
{/*           {link && (
            <LinkButton href={link}>
              <Browser class="size-6"/>
            {translateLabels('projects.web')}
          </LinkButton>
          )} */}
        </div> 
        <div class="flex gap-x-4 items-end justify-start mt-4">
          {trello && (
            <LinkButton href={trello}>
              <TrelloIcon class="size-6"/>
              {translateLabels('projects.trello')}
          </LinkButton>
          )}
        </div>
      </article>
    ))
  }
</section>